/* ***************************
    CSS General
*************************** */

/* Estilos Básicos */
/* *************** */
*{
    box-sizing: border-box;
}
/* Tipografía */
html{
    font-family: arial, sans-serif;
    font-size: 16px;
}
::placeholder, textarea{
    font-size: 1.2rem;
}

/* Colores */
body{
    background-color: #F5F5F5;
}
input, textarea{
    border: 0;
}
.titulo{
    color: #a2a2a2;
}
::placeholder, #comentario{
    color: #a0a0a0;
}
#comentario{
    color: #d0d0d0;
}


/* Enlaces */


/* Botones */
button{
    background-color: #C7C7C7;
    border: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 1.3rem;
}

/* Margenes */
body{
    padding: 1rem 2rem 3rem 2rem;
    height: 100vh;
}

/* Tamaños */
.titulo{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}
input{
    height: 50px;
    padding: 0.5rem;
}
textarea{
    padding: 0.5rem;
    flex-grow: 0.7;
}

/* Maquetación del contenido */
/* ************************ */
.titulo{
    text-align: center;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 2rem);
}